/*
 * Blob page style
 */

.blob_box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

@media only screen and (max-width: 800px) {
    .blob_box {
        display: block;
        max-width: 100%;
        overflow: scroll;
        white-space: nowrap;
    }
}

.blob_code {
    overflow: scroll;
}

.blob_code * {
    font-family: monospace;
}
