/*
 * Commit page style
 */

.commit_box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

@media only screen and (max-width: 800px) {
    .commit_box {
        max-width: 100%;
        overflow: scroll;
    }
}

/* Info */
.commit_info {
    vertical-align: middle;
    display: inline-block;
}

.commit_msg {
    padding-top: 10px;
}

.commit_inspect {
    float: right;
}

.commit_modified {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.commit_modified td {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

/* Patches */
.commit_path {
    padding: 10px;
    display: block;
}

.commit_code {
    display: inline-block;
    width: 100%;
    overflow: scroll;
}

.commit_code * {
    font-family: monospace;
}
