/*
 * Crumbs menu style
 */

#crumbs_nav {
    padding: 20px 0;
}

.crumb_select {
    width: 150px;
    margin-right: 10px;
}

.crumb_branch {
    color: #474747;
}

.crumb_path {
    color: black;
}

@media only screen and (max-width: 800px) {
    #crumbs_nav {
        max-width: 100%;
        overflow: scroll;
        white-space: nowrap;
    }
    .crumb_branch, .crumb_path {
        width: 100%;
        display: block;
        padding: 10px;
    }
}
