/*
 * Login page style
 */

@media only screen and (max-width: 800px) {
    #global_center {
        min-width: 100%;
        overflow: scroll;
    }
}

.form_msg {
    text-align: center;
    margin-bottom: 50px;
}

.form_label {
    margin-top: 20px;
}

.form_control {
    margin-top: 12px;
}

.form_control input {
    width: 100%;
}

.form_checkbox input {
    width: initial;
}

.form_control input {
    padding: 10px;
}

.form_error {
    padding: 10px 0;
    font-style: italic;
}
.form_submit {
    margin-top: 20px;
}

.form_submit input {
    width: 100%;
    padding: 5px;
}
