/*
 * Global page style
 */

/* Sane defaults */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    color: black;
}

/* Sane list sizing */
ul {
    list-style: disc inside none;
}

h1 {
    font-size: 200%;
}

body {
    background: #fcfcfc;
}

a {
    text-decoration: none;
    color: #0044ff;
}

a * {
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

img {
    /* IE8 puts borders around images ;( */
    border-width: 0;
}

/* Navigation bar */
#global_nav {
    z-index: 2;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    background: #363636;
    position: fixed;
}

#global_nav * {
    color: white;
}

#global_nav a,
#global_nav span {
    padding: 10px;
    float: left;
}

#global_nav .right {
    float: right;
}

/* Mobile nav bar */
@media only screen and (max-width: 800px) {
    #global_nav {
        position: initial;
    }
    #global_nav * {
        width: 100%;
    }
    #global_nav .right {
        float: left;
    }
    #nav_seperator {
        display: none;
    }
}

/* Content */
#global_wrap {
    padding-top: 4em; /* FIXME: is there a way to not hardcode this? */
    text-align: center;
    max-width: 100%;
}

#global_center {
    max-width: 100%;
    display: inline-block;
    text-align: left;
    min-width: 20%;
    padding: 50px;
}


@media only screen and (max-width: 800px) {
    #global_wrap {
        padding-top: 0px;
    }
    #global_center {
        padding: 10px;
    }
}

/* Content table (both index page and tree) */
.mfgd_table {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    border-spacing: 0px;
}

@media only screen and (max-width: 800px) {
    .mfgd_table {
        display: block;
        max-width: 100%;
        overflow: scroll;
    }
}

.mfgd_table th,
.mfgd_table td {
    padding: 12px;
    white-space: nowrap;
}

.mfgd_table th {
    background: #363636;
    color: white;
}

.mfgd_table td {
    border-top: 1px solid #e3e3e3;
}

#serv-msg {
    padding: 5px;
}

/* Green button */
.button {
    display: inline-block;
    padding: 10px;
    color: white;
    background: #1fbfa7;
    border: 1px solid #199481;
    border-radius: 5px;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Server message */
#serv-msg {
    padding: 10px 0;
    font-style: italic;
}
