
h1 {
    margin-bottom: 20px;
}

.box-label {
    display: block;
    margin-bottom: 10px;
}

.manage-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .manage-box {
        max-width: 100%;
        overflow: scroll;
    }
}

#user-table {
    margin-bottom: 20px;
}

#global-settings-table td {
    padding: 5px;
}
