/*
 * Profile page style
 */


#global_center {
    background-color: #f0f0f0;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
}

#profile_header {
    text-align: center;
}

.profile_img {
    z-index: 1;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    position: relative;
    margin-bottom: -50px;
    top: -70px;
}

h2 {
    font-size: 150%;
    margin-bottom: 5px;
}

p {
    color: grey;
    margin-bottom: 20px;
}

.form-control {
    width:300px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom :10px;
    padding: 7px;
}

.table {
    margin-left: 8px;
}
