{% extends 'base.html' %}
{% load static %}

{% block title_block %}Add Repository{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/form.css' %}" />
{% endblock %}

{% block body_block %}
<h1 class="form_msg">Add a Repository</h1>
<form method="post" action="{% url 'add_repo' %}">
    {% csrf_token %}
    {% for field in form %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <div class="form_control form_checkbox">
                {{ field }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>
        {% else %}
        <div class="form_label">{{ field.label }}</div>
        <div class="form_control">{{ field }}</div>
        {% endif %}
        {% if field.errors %}
        <div class="form_error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <div class="form_submit"><input class="button" type="submit" value="Submit" /></div>
</form>
<div id="serv-msg">{{ error }}</div>
{% endblock %}
