{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/form.css' %}" />
{% endblock %}

{% block body_block %}
<h1 class="form_msg">User login</h1>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form_label">Username</div>
    <div class="form_control"><input type="text" name="username" /></div>
    <div class="form_label">Password</div>
    <div class="form_control"><input type="password" name="password" /></div>
    <div class="form_submit"><input class="button" type="submit" value="Login" /></div>
</form>
<div id="serv-msg">{{ error }}</div>
{% endblock %}
