{% extends 'base.html' %}
{% load static %}

{% block title_block %}Manage Admins{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/manage.css' %}" />
{% endblock %}

{% block body_block %}
<table class="mfgd_table">
    <tr>
        <th>Repository</th>
        <th>Description</th>
        <th>Default branch</th>
        <th>Delete</th>
    </tr>
    {% for repo in repositories %}
    <tr>
        <td>
            <a href="/{{ repo.name }}/view/{{ repo.default_branch }}">{{ repo.name }}</a>
        </td>
        <td>{{ repo.description|truncatechars:30 }}</td>
        <td>{{ repo.default_branch }}</td>
        <td>
            <a class="button" href="delete_repo/{{ repo.name }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<center>
    <a id="add-button" class="button" href="{% url 'add_repo' %}">Add a repository</a>
</center>
{% endblock %}
