{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Manage Repository
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/manage_repo.css' %}" />
<link rel="stylesheet" href="{% static 'style/login.css' %}" />
{% endblock %}

{% block body_block %}
<h1>Manage repository</h1>

<span class="box-label">Global settings</span>
<div class="manage-box">
    <table id="global-settings-table">
        <tr>
            <td>Make repository public</td>
            <td>
                <input type="checkbox" id="publicize" onclick="publicize(this)"
                {% if is_public %}
                    checked
                {% endif %}/>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea type="text" id="description" cols="50">{{ desc }}</textarea></td>
        </tr>
    </table>
</div>

<span class="box-label">User access</span>
<table class="mfgd_table" id="user-table">
    <tr>
        <th>Username</th>
        <th>User Email</th>
        <th>Can View</th>
        <th>Can Manage</th>
    </tr>
    {% for user in users %}
    <tr>
        <td id="{{ user.id }}-name">{{ user.name }}</td>
        <td>{{ user.email }}</td>

        <td><input type="checkbox" id="{{ user.id }}-visibility"
        {% if user.can_view or user.can_manage %}
            checked
        {% endif %}
        onclick="update_perm(this)" 
        {% if user.isAdmin %}
            disabled
        {% endif %}
        />

        <td><input type="checkbox" id="{{ user.id }}-management"
        {% if user.can_manage %}
            checked
        {% endif %}
        onclick="update_perm(this)"
        {% if user.isAdmin %}
            disabled
        {% endif %}
        />
    </tr>
    {% endfor %}
</table>

<span class="box-label">Danger zone</span>
<div class="manage-box">
    <a class='button' href='delete_repo/{{ repo.name }}'>Delete Repository</a>
</div>

<div id="serv-msg"></div>

<div class="login_submit"><input type="button" value="Submit" onclick="update_details()" /></div>

<script>

function make_req(json, success) {
    var msg_field = document.getElementById("serv-msg");
    var xhr = new XMLHttpRequest();

    xhr.onloadend = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
                msg_field.innerHTML = success;
            } else {
                msg_field.innerHTML = xhr.responseText;
            }
        } else {
            msg_field.innerHTML = "Request failed";
        }
    }
    xhr.open("POST", "{% url 'manage_repo' repo_name %}");
    xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.send(json);

}

function update_details() {
    const json = JSON.stringify({
            "action":"update_details",
            "name" : document.getElementById("name").value,
            "path" : document.getElementById("path").value,
            "desc" : document.getElementById("description").value
        });
    const success = "Successfully changed value";
    make_req(json, success);
}

function publicize(box) {
    const json = JSON.stringify({
            "action": "publicize",
            "public": box.checked
        });
    const success = "Successfully changed gobal visibility";
    make_req(json, success);
}

function update_perm(box) {
    const [user_id, category] = box.id.split("-");
    const name = document.getElementById(user_id + "-name").innerHTML;
    if (!box.checked && category === "visibility") {
        document.getElementById(user_id + "-management").checked = box.checked;
    } else if (box.checked && category === "management") {
        document.getElementById(user_id + "-visibility").checked = box.checked;
    }

    const json = JSON.stringify({
        "action": "update_perm",
        "id": user_id,
        "visible": document.getElementById(user_id + "-visibility").checked,
        "manage": document.getElementById(user_id + "-management").checked
    });

    const success = "Successfully updated permissions for user: " + name;
    make_req(json, success);
}
</script>
{% endblock %}
