{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Manage Repository
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/manage_repo.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'scripts/manage.js' %}"></script>
{% endblock %}

{% block body_block %}
<h1>Manage repository</h1>
<span class="box-label">Global settings</span>
<div class="manage-box">
    <table id="global-settings-table">
        <tr>
            <td>Make repository public</td>
            <td>
                <input type="checkbox" id="publicize" onclick="publicize('{% url 'manage_repo' repo_name %}', this)"
                {% if is_public %}
                    checked
                {% endif %}/>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea type="text" id="description" cols="50">{{ desc }}</textarea></td>
        </tr>
    </table>
</div>

<span class="box-label">User access</span>
<table class="mfgd_table" id="user-table">
    <tr>
        <th>Username</th>
        <th>User Email</th>
        <th>Can View</th>
        <th>Can Manage</th>
    </tr>
    {% for user in users %}
    <tr>
        <td id="{{ user.id }}-name">{{ user.name }}</td>
        <td>{{ user.email }}</td>

        <td><input type="checkbox" id="{{ user.id }}-visibility"
        {% if user.can_view or user.can_manage %}
            checked
        {% endif %}
            onclick="update_perm('{% url 'manage_repo' repo_name %}', this)"
        {% if user.isAdmin %}
            disabled
        {% endif %}
        />

        <td><input type="checkbox" id="{{ user.id }}-management"
        {% if user.can_manage %}
            checked
        {% endif %}
        onclick="update_perm('{% url 'manage_repo' repo_name %}', this)"
        {% if user.isAdmin %}
            disabled
        {% endif %}
        />
    </tr>
    {% endfor %}
</table>

<span class="box-label">Danger zone</span>
<div class="manage-box">
    <a class='button' href='delete_repo/{{ repo.name }}'>Delete Repository</a>
</div>

<div id="serv-msg"></div>

{% endblock %}
