{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Profile
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/form.css' %}" />
<link rel="stylesheet" href="{% static 'style/profile.css' %}" />
{% endblock %}

{% block body_block %}
<div id="profile_header">
    <img class="profile_img" src="{{ user.userprofile.image.url }}">
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>
</div>

<form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="profile_change">
    {% for field in u_form %}
        <div class="form_label">{{ field.label }}</div>
        <div class="form_control">{{ field }}</div>
        {% if field.errors %}
        <div class="form_error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    {% for field in p_form %}
        <div class="form_label">{{ field.label }}</div>
        <div class="form_control">{{ field }}</div>
    {% endfor %}
    <div class="form_submit"><input class="button" type="submit" value="Update Profile" /></div>
</form>

<form method="POST" action="{% url 'profile' %}">
    {% csrf_token %}
    <input type="hidden" name="password_change">
    {% for field in pw_form %}
        <div class="form_label">{{ field.label }}</div>
        <div class="form_control">{{ field }}</div>
        {% if field.errors %}
        <div class="form_error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <div class="form_submit"><input class="button" type="submit" value="Update Password" /></div>
</form>

{% endblock %}
