{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Register
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'style/form.css' %}" />
{% endblock %}

{% block body_block %}
<h1 class="form_msg">Registration</h1>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="form_label">{{ field.label }}</div>
        <div class="form_control">{{ field }}</div>
        {% if field.errors %}
        <div class="form_error">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <div class="form_submit"><input class="button" type="submit" value="Register" /></div>
</form>
{% endblock %}
